// $color1: #011627;
// $color2: #1d7874;
// $color3: #d7fcd4;
// $color4: #8db38b;
// $color5: #7a918d;
//
//
//
$color6: #7a9e9f;
$color7: #4f6367;
$color8: #eef5db;
$color9: #b0bbbf;
$color-10: #cadbc8;
