* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.skills {
  i {
    margin: 10px;
  }
}

.contact {
  i {
    margin: 10px;
    color: #333;
  }
}

@import 'media';
