.header-content {
  padding-top: 5rem;
  padding-bottom: 5rem;

  p {
    padding-bottom: 2rem;
  }

  img {
    max-width: 350px;
    max-height: 250px;
  }
}

.section-content {
  padding-top: 5rem;
  padding-bottom: 5rem;

  p {
    padding-bottom: 2rem;
  }
}

div {
  i {
    margin: 20px;
  }
}

a {
  i {
    color: white;
  }
}
