@import '_variables';

.header-content {
  padding: 5rem 0;
  background: $color9;

  p {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 5rem;
  }

  img {
    max-width: 300px;
    max-height: 300px;
  }
}

.section1-content {
  padding: 5rem 0;
  background: $color8;

  p {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 4rem;
  }
}

.section2-content {
  padding: 5rem 0;
  background: $color9;

  p {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .skills {
    i {
      margin: 10px;
    }
  }
}

.footer-content {
  padding: 5rem 0;
  background: $color8;

  p {
    font-size: 3.5rem;
    text-align: center;
  }

  .contact {
    i {
      margin: 15px;
      color: #333;
    }
  }
}
